<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  <param name="robot_description"
    command="$(find xacro)/xacro $(find turtlebot_description)/robots/kobuki_hexagons_kinect.urdf.xacro" />

  <!-- BEGIN ROBOT 1-->
  <group ns="VAR">
    <param name="tf_prefix" value="VAR_tf" />
    <include file="$(find turtlebot_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 4.1836 -y 0 -z 0 -Y 3.14" />
      <arg name="robot_name"  value="VAR" />
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
  <!--<group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find turtlebot_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 2.8 -y 0 -z 0 -Y 3.14" />
      <arg name="robot_name"  value="Robot2" />
    </include>
  </group>-->
</launch>
