<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  <param name="robot_description"
    command="$(find xacro)/xacro $(find turtlebot_description)/robots/kobuki_hexagons_kinect.urdf.xacro" />

  <!-- BEGIN ROBOT 1-->
  <group ns="VAR_BLUE">
    <param name="tf_prefix" value="VAR_BLUE_tf" />
    <include file="$(find turtlebot_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 4.1836 -y 0 -z 0 -Y 3.14" />
      <arg name="robot_name"  value="VAR_BLUE" />
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="GK_BLUE">
    <param name="tf_prefix" value="GK_BLUE_tf" />
    <include file="$(find turtlebot_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 2.8 -y 0 -z 0 -Y 3.14" />
      <arg name="robot_name"  value="GK_BLUE" />
    </include>
  </group>


    <!-- BEGIN ROBOT 3-->
  <group ns="GK_YELLOW">
    <param name="tf_prefix" value="GK_YELLOW_tf" />
    <include file="$(find turtlebot_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -2.8 -y 0 -z 0 -Y 0" />
      <arg name="robot_name"  value="GK_YELLOW" />
    </include>
  </group>

  <!-- BEGIN ROBOT 4-->
  <group ns="VAR_YELLOW">
    <param name="tf_prefix" value="VAR_YELLOW_tf" />
    <include file="$(find turtlebot_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -4.1836 -y 0 -z 0 -Y 0" />
      <arg name="robot_name"  value="VAR_YELLOW" />
    </include>
  </group>

</launch>
